<tr>
    <!-- Colonne pour la case à cocher -->
    <td class="check-box">
        <input type="checkbox" id="subtask-<%= subIndex %>" <%= subTask.completed ? 'checked' : '' %> hx-post="/toggle-subtask/<%= index %>/<%= subIndex %>" hx-target="#task-list" hx-swap="innerHTML">
    </td>
    <!-- Colonne pour le texte de la sous-tâche avec condition pour barrer le texte -->
    <td class="task-col <%= subTask.completed ? 'completed' : '' %>">
        <label for="subtask-<%= subIndex %>"><%= subTask.description %></label>
    </td>
    <!-- Colonne pour le bouton "Supprimer" -->
    <td class="delete-col">
        <button hx-delete="/delete-subtask/<%= index %>/<%= subIndex %>" hx-target="#task-list" hx-swap="innerHTML">Supprimer</button>
    </td>
</tr>