<table class="todolist">
    <% tasks.forEach((task, index) => { %>
        <tr>
            <!-- Colonne pour le texte de la tâche -->
            <td class="task-col">
                <input
                    type="checkbox" 
                    id="task-<%= index %>" 
                    <%= task.completed ? 'checked' : '' %>
                    hx-post="/toggle-task/<%= index %>" 
                    hx-target="#task-list" 
                    hx-swap="innerHTML">
            </td>
            <!-- Colonne pour le texte de la tâche avec condition pour barrer le texte -->
            <td class="task-col <%= task.completed ? 'completed' : '' %>">
                <label for="task-<%= index %>"><a href="/<%= index %>"><%= task.description %></a></label>                
            <!--<%= task %>-->

            </td>
            <!-- Colonne pour le bouton "Supprimer" -->
            <td class="delete-col">
                <button 
                    hx-delete="/delete-task/<%= index %>" 
                    hx-target="#task-list" 
                    hx-swap="innerHTML">
                    Supprimer
                </button>
            </td>
        </tr>
    <% }); %>
</table>
