<% if (tasks.length === 0) { %>
    <p>Liste vide</p>
<% } else { %>
    <table class="todolist" id="task-list">
        <% tasks.forEach((task, index) => { %>
            <tr>
                <!-- Colonne pour le texte de la tâche -->
                <td class="check-box">
                    <input
                        type="checkbox" 
                        id="task-<%= index %>" 
                        <%= task.completed ? 'checked' : '' %>
                        hx-post="/toggle-task/<%= index %>" 
                        hx-target="#task-list" 
                        hx-swap="innerHTML">
                </td>
                <!-- Colonne pour le texte de la tâche avec condition pour barrer le texte -->
                <td class="task-col <%= task.completed ? 'completed' : '' %>">
                    <label for="task-<%= index %>">
                        <a href="/<%= index %>"><%= task.description %></a>
                    </label>
                </td>
                <!-- Colonne pour le bouton "Modifier" -->
                <td>
                    <a 
                        class="edit-button" 
                        hx-get="/edit-task/<%= index %>" 
                        hx-target="tr" 
                        hx-swap="innerHTML">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <!-- Colonne pour le bouton "Important" -->
                <td>
                    <a
                        class="star-button"
                        hx-post="/toggle-important/<%= index %>" 
                        hx-target="#task-list" 
                        hx-swap="innerHTML">
                        <i class="fa <%= task.important ? 'fa-star' : 'fa-star-o' %>"></i>
                    </a>
                </td>
                <!-- Colonne pour le bouton "Supprimer" -->
                <td class="">
                    <button class="delete-button"
                        hx-delete="/delete-task/<%= index %>" 
                        hx-target="#task-list" 
                        hx-swap="innerHTML">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        <% }); %>
    </table>
<% } %>